body{
    margin: 0;
    position: relative;
}

header h1{
    text-align: center;
}

main p{
    margin: 10px;
    font-size: 1.3em;
}

#container{
    width: 90%;
    height: 82vh;
    position: relative;
    margin: 0 auto;
    border: 1px solid black;
}

.serpent{
    background: blue;
    position: absolute;
}

#bouffe{
    background: red;
    position: absolute;
}

footer p{
    text-align: center;
    font-size: 0.8em;
}