body{
    margin: 0;
    position: relative;
}

p{
    margin: 10px;
}

#container{
    width: 90%;
    height: 90vh;
    position: relative;
    margin: 0 auto;
    border: 1px solid black;
}

.serpent{
    background: blue;
    position: absolute;
}

#bouffe{
    background: red;
    position: absolute;
}