body{
    margin: 0;
    position: relative;
}

.hidden{
    display: none;
}

#info{
    position: absolute;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: 1000;
}

#info div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
}

.fermeture{
    position: absolute;
    display: block;
    top: 1rem;
    right: 1rem;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

header h1{
    text-align: center;
    font-size: 2em;
    margin-top: 0.5rem;
}

main p{
    position: relative;
    margin: 0.5rem 2rem;
    font-size: 1.3em;
}

#bt-info{
    display: inline-block;
    position: absolute;
    right: 0;
}

#container{
    width: 90%;
    height: 82vh;
    position: relative;
    margin: 0 auto;
    border: 1px solid black;
}

.serpent{
    background: rgb(101, 156, 73);
    position: absolute;
}

#bouffe{
    background: url(../images/souris.png);
    background-size: 100%;
    position: absolute;
}

.tete{
    background: url(../images/serpent.png);
    background-size: 100%;
    transform: rotate(0deg);
}

.mort{
    background-image: url('../images/tdm.png');
    background-size: cover;
}

footer p{
    text-align: center;
    font-size: 0.8em;
}